@charset "utf-8";
/*
Name/Author: Dwayne Segree
Instructor: Professor Uzma Amir
Course: Intro to Web Design HTML&CSS
Date: October 9,2019
File name: Resume Layout
*/

body {
	margin: 0 auto;
	width: 100%;
	max-width: 1020px;
	min-width: 640px;
}

body > header {
	margin: 0;
	width: 100%;
	overflow: hidden;
}

body > header > nav {
	width: 20%;
	float: left;
	margin: 0 0 0 1.5%;
}


body > footer {
    width: 100%;
    text-align: center;
    font-size: 0.9em;
}